.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: white;
    }
    
.container2{
        display: flex;
        background-color: white;
        padding: 15px, 30px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 35px;
        
    }
        
.container3{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        background-color: black;
        color: white; 

} 

.borda{
    border: solid 5px blue;
    border-radius: 15px;
}

    
    
    
    
        
   
             